<div id="date-picker-div">
  <label for="date-picker">Choose the Delivery Date: </label> <input type="date" id="date-picker">
</div>
<style>
  #date-picker-div {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    padding: 0 165px;
  }
</style>
